{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/suivi-boursier.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sigma.css" />
{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url admin:boursiers_boursier_changelist %}">Boursiers</a> &rsaquo;
     <a href="{% url admin:boursiers_boursier_change boursier.pk %}">{{ boursier }}</a> &rsaquo;
     Suivi
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        <li><a href="{% url admin:boursiers_boursier_change boursier.pk %}">Modifier</a></li>
    </ul>
    {% endblock %}

    <h2>Administration</h2>
    {% if boursier.code_operation %}
    <span class="field">Code opération: <strong>{{ boursier.code_operation }}</strong></span>
    {% endif %}
    {% if boursier.responsable_budgetaire %}
    <span class="field">Responsable budgétaire: {{ boursier.responsable_budgetaire }}</span>
    {% endif %}
    {% if periodes_mobilite %}
    <h2>Mobilité</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Implantation</th>
                <th>Nombre de mois</th>
                {% if boursier.bareme == 'mensuel' %}
                <th>Montant mensuel</th>
                {% endif %}
                {% if boursier.bareme == 'perdiem' %}
                <th>Perdiem</th>
                {% endif %}
                {% if boursier.bareme == 'allocation' %}
                <th>Allocation</th>
                {% endif %}
                {% if boursier.prime_installation %}
                <th>Prime d'installation</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for periode in periodes_mobilite %}
            <tr>
                <th>
                    {{ periode.lieu }}
                </th>
                <td>{{ periode.debut|date:"j N Y" }}</td>
                <td>
                    {% if periode.implantation %}
                    {{ periode.implantation.nom_court }}
                    {% endif %}
                </td>
                <td>{{ periode.nb_mois|default_if_none:"" }}</td>
                {% if boursier.bareme %}
                <td>
                    {% if periode.montant %}
                    {{ periode.montant|floatformat:2 }} €
                    {% endif %}
                </td>
                {% endif %}
                {% if boursier.prime_installation %}
                <td>{{ boursier.prime_installation|floatformat:2 }} €</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if boursier.depenses_previsionnelles.count > 0 %}
    <h2>Dépenses prévisionnelles</h2>
    <table class="listing">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date</th>
                <th>Description</th>
                <th style="text-align: right">Montant</th>
                <th>Implantation</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in boursier.depenses_previsionnelles.all %}
            <tr>
                <td>{{ ligne.numero|default_if_none:"" }}</td>
                <td><nobr>{{ ligne.date|date:"j N Y" }}</nobr></td>
                <td>{{ ligne.description }}</td>
                <td align="right" char=".">{{ ligne.montant_eur }} €</td>
                <td>
                  {% if ligne.implantation == 'O' %}
                  {{ boursier.implantation_origine.nom_court }}
                  {% endif %}
                  {% if ligne.implantation == 'A' %}
                  {{ boursier.implantation_accueil.nom_court }}
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h2>Dépenses réelles (CODA)</h2>
    <table class="listing cachedetails">
        <thead>
            <tr>
                <th>Code</th>
                <th>No</th>
                <th>Ex/Pér.</th>
                <th>Date</th>
                <th>Description</th>
                <th style="text-align: right">Montant</th>
                <th>D/C</th>
                <th>Impl.</th>
                <th>Employé</th>
                <th>Paiement</th>
            </tr>
        </thead>
        {% for groupe in groupes_ecritures %}
        <tbody>
            <tr>
                <th colspan="5">
                    PCG {{ groupe.pcg.0 }}: {{ groupe.pcg.1 }}
                </th>
                <th align="right" char="." style="text-align: right">
                  {{ groupe.sous_total }}
                </th>
                <th colspan="4"></th>
            </tr>
            {% for ligne in groupe.lignes %}
            <tr>
                <td>{{ ligne.code_document }}</td>
                <td>{{ ligne.numero_document }}</td>
                <td>{{ ligne.periode }}</td>
                <td><nobr>{{ ligne.date_document|date:"j N Y" }}</nobr></td>
                <td>{{ ligne.description }}</td>
                {% if ligne.montant < 0 %}
                <td align="right" char="." style="color: red">
                {% else %}
                <td align="right" char=".">
                {% endif %}
                    {{ ligne.montant }} €
                </td>
                <td>{{ ligne.get_debit_credit_display }}</td>
                <td>{{ ligne.implantation_payeuse }}</td>
                <td>{{ ligne.salarie }}</td>
                <td>{{ ligne.get_etat_paiement_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
