{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/suivi-boursier.js"></script>
{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url admin:suivi_boursier_changelist %}">Boursiers</a> &rsaquo;
     <a href="{% url admin:suivi_boursier_change boursier.pk %}">{{ boursier }}</a> &rsaquo;
     Suivi
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}{% endblock %}

    <h1>Suivi de {{ boursier }}</h1>
    <h2>Administration</h2>
    <table>
        <tbody>
            <tr>
                <td>Code opération: <strong>{{ boursier.code_operation }}</strong></td>
                <td>Responsable budgétaire: {{ boursier.responsable_budgetaire }}</td>
                <td>
                    {% if boursier.dossier.appel.date_debut_mobilite %}
                    Année: {{ boursier.dossier.appel.date_debut_mobilite|date:"Y" }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Mobilité</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Début</th>
                <th>Fin</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ debut_date_mobilite }}</td>
                <td>{{ fin_date_mobilite }}</td>
            </tr>
            <tr>
                <th>Implantation</th>
                <td>{{ debut_implantation }}</td>
                <td>{{ fin_implantation }}</td>
            </tr>
            <tr>
                <th>Durée (mois)</th>
                <td>{{ debut_duree }}</td>
                <td>{{ fin_duree }}</td>
            </tr>
            <tr>
                <th>{{ montant_label }}</th>
                <td>{{ debut_montant }}</td>
                <td>{{ fin_montant }}</td>
            </tr>
            <tr>
                <th>Prime installation</th>
                <td>{{ prime_installation }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h2>Dépenses prévisionnelles</h2>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Date</th>
                <th>Description</th>
                <th align="right">Mont. €</th>
                <th>Impl.</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne in boursier.depensesprevisionnelles.all %}
        <tr>
            <td>{{ ligne.numero|default_if_none:"" }}</td>
            <td><nobr>{{ ligne.date|date:"j N Y" }}</nobr></td>
            <td>{{ ligne.description }}</td>
            <td align="right" char=".">{{ ligne.montant_eur }}</td>
            <td>{{ ligne.get_implantation_display }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Dépenses réelles (CODA)</h2>
    <table class="cachedetails">
        <thead>
            <tr>
                <th>Code</th>
                <th>No</th>
                <th>Ex/Pér.</th>
                <th>Date</th>
                <th>Description</th>
                <th align="right">Mont. €</th>
                <th>D/C</th>
                <th>Impl.</th>
                <th>Employé</th>
                <th>Paiement</th>
            </tr>
        </thead>
        {% for groupe in groupes_ecritures %}
        <tbody>
            <tr>
                <th colspan="5">
                    PCG {{ groupe.compte_comptable.code }}: {{ groupe.compte_comptable.nom }}
                </th>
                <th align="right" char="." style="text-align: right">
                  {{ groupe.sous_total }}
                </th>
                <th colspan="4"></th>
            </tr>
            {% for ligne in groupe.lignes %}
            <tr>
                <td>{{ ligne.ecriture.code }}</td>
                <td>{{ ligne.ecriture.numero }}</td>
                <td>{{ ligne.ecriture.annee }}/{{ ligne.ecriture.periode }}</td>
                <td><nobr>{{ ligne.ecriture.date|date:"j N Y" }}</nobr></td>
                <td>{{ ligne.description }}</td>
                {% if ligne.montant_eur < 0 %}
                <td align="right" char="." style="color: red">
                {% else %}
                <td align="right" char=".">
                {% endif %}
                    {{ ligne.montant_eur }}
                </td>
                <td>{{ ligne.get_debit_credit_display }}</td>
                <td>{{ ligne.implantation }}</td>
                <td>{{ ligne.salarie }}</td>
                <td>{{ ligne.get_etat_paiement_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
