{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/suivi-boursier.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sigma.css" />
{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url admin:suivi_boursier_changelist %}">Boursiers</a> &rsaquo;
     <a href="{% url admin:suivi_boursier_change boursier.pk %}">{{ boursier }}</a> &rsaquo;
     Suivi
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        <li><a href="{% url admin:suivi_boursier_change boursier.pk %}">Modifier</a></li>
    </ul>
    {% endblock %}

    <h2>Administration</h2>
    {% if boursier.code_operation %}
    <span class="field">Code opération: <strong>{{ boursier.code_operation }}</strong></span>
    {% endif %}
    {% if boursier.responsable_budgetaire %}
    <span class="field">Responsable budgétaire: {{ boursier.responsable_budgetaire }}</span>
    {% endif %}
    <h2>Mobilité</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Implantation</th>
                <th>Nombre de mois</th>
                {% if boursier.bareme == 'mensuel' %}
                <th>Montant mensuel</th>
                {% endif %}
                {% if boursier.bareme == 'perdiem' %}
                <th>Perdiem</th>
                {% endif %}
                {% if boursier.bareme == 'allocation' %}
                <th>Allocation</th>
                {% endif %}
                {% if boursier.prime_installation %}
                <th>Prime d'installation</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Début</th>
                <td>{{ boursier.date_debut|date:"j N Y" }}</td>
                <td>
                    {% if boursier.implantation_debut %}
                    {{ boursier.implantation_debut.nom_court }}
                    {% if boursier.debut_accueil %}
                    (Accueil)
                    {% else %}
                    (Origine)
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ boursier.mois_debut|default_if_none:"" }}</td>
                {% if boursier.bareme %}
                <td>
                    {% if boursier.montant_debut %}
                    {{ boursier.montant_debut|floatformat:2 }} €
                    {% endif %}
                </td>
                {% endif %}
                {% if boursier.prime_installation %}
                <td>{{ boursier.prime_installation|floatformat:2 }} €</td>
                {% endif %}
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ boursier.date_fin|date:"j N Y" }}</td>
                <td>
                    {% if boursier.implantation_fin %}
                    {{ boursier.implantation_fin.nom_court }}
                    {% if boursier.debut_accueil %}
                    (Origine)
                    {% else %}
                    (Accueil)
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ boursier.mois_fin|default_if_none:"" }}</td>
                {% if boursier.bareme %}
                <td>
                    {% if boursier.montant_fin %}
                    {{ boursier.montant_fin|floatformat:2 }} €
                    {% endif %}
                </td>
                {% endif %}
                {% if boursier.prime_installation %}
                <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <h2>Dépenses prévisionnelles</h2>
    <table class="listing">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date</th>
                <th>Description</th>
                <th style="text-align: right">Montant</th>
                <th>Implantation</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in boursier.depenses_previsionnelles.all %}
            <tr>
                <td>{{ ligne.numero|default_if_none:"" }}</td>
                <td><nobr>{{ ligne.date|date:"j N Y" }}</nobr></td>
                <td>{{ ligne.description }}</td>
                <td align="right" char=".">{{ ligne.montant_eur }} €</td>
                <td>
                  {% if ligne.implantation == 'O' %}
                  {{ boursier.implantation_origine.nom_court }}
                  {% endif %}
                  {% if ligne.implantation == 'A' %}
                  {{ boursier.implantation_accueil.nom_court }}
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Dépenses réelles (CODA)</h2>
    <table class="listing cachedetails">
        <thead>
            <tr>
                <th>Code</th>
                <th>No</th>
                <th>Ex/Pér.</th>
                <th>Date</th>
                <th>Description</th>
                <th style="text-align: right">Montant</th>
                <th>D/C</th>
                <th>Impl.</th>
                <th>Employé</th>
                <th>Paiement</th>
            </tr>
        </thead>
        {% for groupe in groupes_ecritures %}
        <tbody>
            <tr>
                <th colspan="5">
                    PCG {{ groupe.compte_comptable.code }}: {{ groupe.compte_comptable.nom }}
                </th>
                <th align="right" char="." style="text-align: right">
                  {{ groupe.sous_total }}
                </th>
                <th colspan="4"></th>
            </tr>
            {% for ligne in groupe.lignes %}
            <tr>
                <td>{{ ligne.ecriture.code }}</td>
                <td>{{ ligne.ecriture.numero }}</td>
                <td>{{ ligne.ecriture.annee }}/{{ ligne.ecriture.periode }}</td>
                <td><nobr>{{ ligne.ecriture.date|date:"j N Y" }}</nobr></td>
                <td>{{ ligne.description }}</td>
                {% if ligne.montant_eur < 0 %}
                <td align="right" char="." style="color: red">
                {% else %}
                <td align="right" char=".">
                {% endif %}
                    {{ ligne.montant_eur }} €
                </td>
                <td>{{ ligne.get_debit_credit_display }}</td>
                <td>{{ ligne.implantation }}</td>
                <td>{{ ligne.salarie }}</td>
                <td>{{ ligne.get_etat_paiement_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
