{% extends "admin/base_site.html" %}
{% load adminmedia i18n %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
  <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
  <a href="{% url admin:sigma_dossier_changelist %}">Dossiers</a> &rsaquo;
  <a href="{% url admin:sigma_dossier_change dossier.pk %}">{{ dossier }}</a> &rsaquo;
  {% if form.instance.id %}
  Modifier une pièce jointe
  {% else %}
  Ajouter une pièce jointe
  {% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}
{% if form.instance.id %}
<h1>Modifier une pièce jointe</h1>
{% else %}
<h1>Ajouter une pièce jointe</h1>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset class="module aligned">
    {% for field in form %}
    <div class="form-row{% if field.errors %} errors{% endif %}">
      {{ field.errors }}
      <div>
        {{ field.label_tag }} {{ field }}
      </div>
    </div>
    {% endfor %}
  </fieldset>
  <div class="submit-row">
    <input class="default" type="submit" name="_save" value="Enregistrer" />
  </div>
</form>

{% endblock %}
