{% extends "admin/custom_change_form.html" %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/allocations.css" />{% endblock %}

{% block object-tools %}
{{ block.super }}
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
<fieldset class="module">
    <div id="inline-group">
	<h2>Allocations</h2>
	{% for appel in original.allocations_by_appel %}
	<div>
	  <h2>
	    <a class="" href="{% url admin:candidatures_appel_change appel.1.id %}">{{appel.0}}</a>
	  </h2>
	  <div class="allocations">
	    {% for alloc in appel.1.allocations %}
	    <ul class="allocation">
	      <li><label><strong class="label_content">Code d'opération</strong><span class="dotted">&nbsp;</span></label> {{ alloc.code_operation}}</li>
	      <li><label><strong class="label_content">Numéro de police d'assurance</strong><span class="dotted">&nbsp;</span></label> {{ alloc.numero_police_assurance }}</li>
	      {% if alloc.date_debut_assurance or alloc.date_fin_assurance %}<li><label><strong class="label_content">Couverture de la police d'assurance:</strong><span class="dotted">&nbsp;</span></label> {% if alloc.date_debut_assurance %}Du {{ alloc.date_debut_assurance }}{% endif %} au {% if alloc.date_debut_assurance %}{{ alloc.date_fin_assurance }}{% endif %}</li>{% endif %}
	      <li><label><strong class="label_content">Durée totale de la mobilite</strong><span class="dotted">&nbsp;</span></label> {{ alloc.mobilite.duree_totale.mois }} mois</li>
	      <li><label><strong class="label_content">État</strong><span class="dotted">&nbsp;</span></label> {{ alloc.etat }}</li>
	      <li>
	        <a href="{% url admin:boursiers_fichefinanciere_change alloc.id %}">Fiche financière</a> | 
		<a href="{% url admin:boursiers_allocation_change alloc.id %}">Modifier l'allocation</a> |
		{% if alloc.desiste %}
		<a id="undesiste_link_{{alloc.id}}" href="{% url undesiste %}?redirect={% url admin:boursiers_allocataire_change original.pk %}&allocation={{alloc.id}}">Annuler la désistation</a>
		{% else %}
		<a id="desiste_link_{{alloc.id}}" href="#">Allocataire désisté</a>
		<script>
		  jQuery('#desiste_link_{{alloc.id}}').click(function(){
		    if (confirm("Veuillez confirmer que vous voulez bien que cette allocataire soit considéré comme \"Désisté\":")) {
		      location.href = "{% url desiste %}?redirect={% url admin:boursiers_allocataire_change original.pk %}&allocation={{alloc.id}}";
		    }
		  });
		</script>
		{% endif %}
	      </li>
	    </ul>
	    {% endfor %}
	  </div>
	</div>
	{% endfor %}
    </div>
</fieldset>
{% endblock %}
