ul#navigation-menu {
    position: absolute; top: 0; bottom: 0; right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #e9e9ea;
}
ul#navigation-menu li {
    list-style: none;
    border-bottom: 1px solid #e9e9ea;
    padding: 8px 8px 8px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14pt;
}
ul#navigation-menu li a, ul#navigation-menu li a:visited {
    display: inline-block;
    width: 152px;
    margin-left: 5px;
    padding: 13px 8px;
    color: #a2a3a5;
}
ul#navigation-menu li a:hover { color: #868788; }
ul#navigation-menu li a:active { color: #565758; }
ul#navigation-menu li.selected a {
    /* background-color: #e5e5e5; */
    /* -webkit-border-radius: 5px; */
    /*    -moz-border-radius: 5px; */
    /*         border-radius: 5px; */
    /* -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2); */
    /*         box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2); */
    color: #008ee7;
}

