#header #branding h1 {
    background: None !important;
    line-height: 30px;
    text-indent: 0 !important;
    width: auto !important;
}

.module table {border-right: 1px solid #DDDDDD;}

ul.actions { margin: 0; padding: 0; }
ul.actions li { list-style-type: none; display: inline; padding-right: 1em; }
