{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}
{% load url from future %}

{% block extrastyle %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <div class="clear"></div>
{% endblock %}
