{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}

{% block content_title %}
{% if title %}
<div class="module_icon {{module_name|lower}}">&nbsp;</div><h1 class="page_title">{{ module_name }}</h1>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
  
  {% if cl.formset.errors %}
  <p class="errornote">
    {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
  </p>
  {{ cl.formset.non_form_errors }}
  {% endif %}
  <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
    
    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

    {% block filters %}
    {% if cl.has_filters %}
    <div id="changelist-filter">
      
      {% for spec in cl.filter_specs %}<div class="filter-block">{% admin_list_filter cl spec %}</div>{% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    <h3>Volumétrie: <span class="blue_text">{{ cl.result_count }} sur {{ cl.full_result_count }}</span></h3>




    <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
      <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
      {% if action_form and actions_on_top and cl.full_result_count %}
      <div class="actions">
	<select name="action" onchange="django.jQuery('#changelist-form select').val() != '' ? django.jQuery('#changelist-form').submit() : 0;">
	  {% for choice in action_form.fields.action.choices %}
	  {% if choice.0 == '' %}
	  <option value="{{choice.0}}">Action</option>
	  {% else %}
	  <option value="{{choice.0}}">{{choice.1}}</option>
	  {% endif %}
	  {{ choice }}
	  {% endfor %}
	</select>

        {% if actions_selection_counter %}
        <script type="text/javascript">var _actions_icnt="{{ cl.result_list|length|default:"0" }}";</script>
        <!-- <span class="action-counter">{{ selection_note }}</span> -->
        {% if cl.result_count != cl.result_list|length %}
        <span class="all">{{ selection_note_all }}</span>
        <span class="question">
          <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
        </span>
        <span class="clear"><a href="javascript:;">{% trans "Clear selection" %}</a></span>
        {% endif %}
        {% endif %}
      </div>
      {% endif %}
      {% block object-tools %}
      {% if has_add_permission %}
      <ul class="object-tools">
        {% block object-tools-items %}
        <li>
          <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            <strong>+</strong> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
        {% endblock %}
      </ul>
      {% endif %}
      {% endblock %}
      <div class="clear"></div>
      {% result_list cl %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
    </form>
  </div>
</div>
{% endblock %}
