.field-experts .selector.stacked {
    width: 800px;
}

.field-experts .selector.stacked .selector-available,
.field-experts .selector.stacked .selector-chosen {
    width: 780px;
}

.field-experts .selector.stacked select {
    width: 780px;
}


.readonly_field {
    font-weight: bold;
    border:0;
    width: 200px;
    padding-left: 10px;
}
