{% extends "admin/base_site.html" %}
{% load i18n adminmedia form_utils_tags %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url admin:sigma_dossier_changelist %}">Dossiers</a> &rsaquo;
     <a href="{% url admin:sigma_dossier_change dossier.id %}">{{ dossier }}</a> &rsaquo;
     Suivi
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}{% endblock %}

    <h1>Suivi du {{ dossier }}</h1>

    <table>
    {% for d in depenses %}
        {% ifchanged d.period %} <tr><td colspan="100"></td></tr> {% endifchanged %}
        <tr>
            <td>{{d.doccode}} - {{d.docnum}}</td>
            <td>{{d.yr}}/{{d.period}}</td>
            <td>{{d.descr_entete}}</td>
            <td>{{d.montantdoc}}</td>
            <td>{{d.devise}}</td>
            <td>{{d.dc}}</td>
            <td>{{d.statut_paiement}}</td>
        </tr>    
    {% endfor %}
    </table>
</div>
{% endblock %}


