{% load i18n %}
{% load appel_extra %}

{% if statut %}
<h3 class="list_title">
  <a class="label" href="#"><b>{{ appel_list|length }}</b> Appel(s) {% trans statut %}</a>
  <a class="download" href="/appels/export/{{ statut }}/" 
     title="T&eacute;l&eacute;charger les appels d'offre {% trans statut %}">
    <img class="export_appels" 
	 alt="T&eacute;l&eacute;charger les appels d'offre {% trans statut %}" 
	 src="/media/images/pict_histo.gif" />
  </a>
</h3>
{% else %}
<h3 class="list_title">
  <a class="label" href="#"><b>{{ appel_list|length }}</b> Appel(s)</a>
</h3>
{% endif %}
<div style="clear: both;">
  <table class="appel_table" width="100%">
    <thead>
      <tr>
	<th>
	  <span>id</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>nom</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>Nb. Cand.</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>Projet Poste</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>Cat&eacute;gorie</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th class="appel_action">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for appel in appel_list %}
      <tr>
	<td>{{ appel.id }}</td>
	<td>{{ appel.nom }}</td>
	<td>{{ appel.nb_candidatures }}</td>
	<td>
	  <a href="/projets/detail/{{ appel.projetposte.id}}/">{{ appel.projetposte.code }}</a>
	</td>
	<td>
	  <a href="/categories/detail/{{ appel.projetposte.getCategorie.id }}">{{ appel.projetposte.getCategorie }}</a>
	</td>	
	<td class="appel_action">
	  <a href="/appels/detail/{{ appel.id }}/" 
	     title="Consulter l'appel d'offre">
	    <img alt="Consulter l'appel d'offre"
		 src="/media/images/pict_info.gif" />
	  </a>
	  {% if user|can_edit_appel:appel %}
	  <a href="/appels/edit/{{ appel.id }}/" 
	     title="&Eacute;diter l'appel d'offre">
	    <img alt="&Eacute;diter l'appel d'offre"
		 src="/media/images/pict_modif2.gif" />
	  </a>
	  {% else %}
	  <div style="background: url(/media/images/pict_modif2.gif) no-repeat;">
	    <p title="&Eacute;diter l'appel d'offre"/>
	  </div>
	  {% endif %}
	  {% if user|can_export_appel:appel %}
	  <a href="/appels/export/{{ appel.id }}" 
	     title="T&eacute;l&eacute;charger cet appel d'offre">
	    <img alt="T&eacute;l&eacute;charger cet appel d'offre"
		 src="/media/images/pict_histo.gif" />
	  </a>
	  {% else %}
	  <div style="background: url(/media/images/pict_histo.gif) no-repeat;">
	    <p title="T&eacute;l&eacute;charger cet appel d'offre"/>
	  </div>
	  {% endif %}
	  {% if user|can_export_candidatures_appel:appel %}
	  <a href="/appels/export_lettres/{{ appel.id }}/" 
	     title="T&eacute;l&eacute;charger les lettres types des candidats {% trans statut %}">
	    <img class="export_cans" 
		 alt="T&eacute;l&eacute;charger les lettres types des candidats {% trans statut %}" 
		 src="/media/images/pict_ajout_dossier.gif" />
	  </a>
	  <a href="/appels/export_can/{{ appel.id }}/" 
	     title="T&eacute;l&eacute;charger les  candidatures {% trans statut %}">
	    <img class="export_cans" 
		 alt="T&eacute;l&eacute;charger les candidatures {% trans statut %}" 
		 src="/media/images/pict_form.gif" />
	  </a>
	  {% else %}
	  <div style="background: url(/media/images/pict_ajout_dossier.gif) no-repeat;">
	    <p title="T&eacute;l&eacute;charger les lettres types des candidats {% trans statut %}"/>
	  </div>
	  <div style="background: url(/media/images/pict_form.gif) no-repeat;">
	    <p title="T&eacute;l&eacute;charger les candidatures {% trans statut %}"/>
	  </div>
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
