{% extends "sigma.www/general.html" %}

{% load i18n %}

{% block include_media %}
<script type="text/javascript" src="/media/js/appel_detail.js"></script>
{% endblock %}

{% block header %}
<table class="ariane">
  <tbody>
    <tr>
    {% for choice, choicelabel in appel.STATUT_CHOICES %}
        {% ifnotequal choice "Supprime" %}
            {% ifequal choice appel.statut %}
                <td class="current_statut" >{{ choicelabel }}</td>
            {% else %}
                <td class="statut" >{{ choicelabel }}</td>
            {% endifequal %}
            {% if not forloop.last %}
                <td><img class="next_ariane" src="/media/images/icones/next_ariane.png" /></td>
            {% endif %}
        {% else %}
            {% ifequal choice appel.statut %}
                <td class="current_statut" >{{ choicelabel }}</td>
            {% endifequal %}        
        {% endifnotequal %}
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}

{% block window_title %}{% trans "Appel - " %}{{ appel.nom }}{% endblock %}
{% block page_title %}{% trans "APPEL D'OFFRE - " %}{{ appel.nom }}{% endblock %}

{% load general_extra %}
{% load appel_extra %}
{% load candidature_extra %}


{% block content %}
<script type="text/javascript">
  $(window).bind('load', function(event) {
    $("#tabs").tabs();
  });
</script>
<div id="tabs">
  <ul>
    <li>
      <a href="#tabs-Informations_generales">{% trans "Informations generales"%}</a>
    </li>

    {% for subject_id, subject_label, field_list, is_data in subject_list.values %}
       {% ifnotequal subject_id "Informations_generales" %}
          <li>
	    <a href="#tabs-{{ subject_id }}">{{ subject_label }}</a>
          </li>
       {% endifnotequal %}
    {% endfor %}

    {% if appel.piecesjointes.values %}
       <li>
	 <a href="#tabs-piecesjointes">{% trans "Piece jointes exigees" %}</a>
       </li>
    {% endif %}
    
    {% if appel.criteres.values %}
       <li>
	 <a href="#tabs-criteres">{% trans "Critères supplémentaires" %}</a>
       </li>
    {% endif %}

    {% if bloc_list.items %}
       <li>
	 <a href="#tabs-blocschamps">{% trans "Blocs de champs" %}</a>
       </li>
    {% endif %}

    <li>
      <a href="#tabs-2">Journal</a>
    </li>

  </ul>

  {% for subject_id, subject_label, field_list, is_data in subject_list.values %}
  <div class="tab" id="tabs-{{ subject_id }}">
    <h2>{{ subject_label }}</h2>
    {% if is_data %}
       <table class="details">
         {% for field in field_list %}
	    <tr>
	      <td>
		<label>{% trans field.verbose_name %} :</label>
	      </td>
	      <td>
		{% if appel|getattr:field %}
                   {% ifequal appel|getattr:field 'True' %}
                      <input type="checkbox" checked=checked disabled>
                   {% else %}
                      {% ifequal appel|getattr:field 'False' %}
                         <input type="checkbox" disabled>
                      {% else %}
     		         <span>{{ appel|getattr:field }}</span>
                      {% endifequal %}
                   {% endifequal %}
		{% else %}
		<span>--</span>
		{% endif %}
	      </td>
	    </tr>
         {% endfor %}
	 </table>
      {% else %}
         {% trans "Aucune données" %}
      {% endif %}
  </div>
  {% endfor %}

  {% if bloc_list.items %}
  <div class="tab" id="tabs-blocschamps">
    <h2>Blocs de champs</h2>
    {% for bloc, champs_list in bloc_list.items %}
       <h3>{{ bloc.libelle }}</h3>
       {% for champs in champs_list %}
          <ul>
	    <li>{{ champs.libelle }}</li>
	  </ul>
       {% endfor %}
    {% endfor %}
  </div>
  {% endif %}

  {% if appel.piecesjointes.values %}
  <div class="tab" id="tabs-piecesjointes">
    <h2>{% trans "Piece jointes exigées" %}</h2>
    <table class="pieces detail">
      <tr>
	<th>Nom</th>
	<th>Description</th>
      </tr>
      {% for piece in appel.piecesjointes.iterator %}
      <tr>
	<td>{{ piece.nom }}</td>
	<td>{{ piece.description }}</td>
      </tr>
      {% endfor %}
      </table>
  </div>
  {% endif %}

  {% if appel.criteres.values %}
  <div class="tab" id="tabs-criteres">
    <h2>{% trans "Critères supplémentaires" %}</h2>
    <table class="criteres detail">
      <tr>
	<th>Nom</th>
	<th>Description</th>
	<th>Par défaut</th>
      </tr>
      {% for critere in appel.criteres.iterator %}
      <tr>
	<td>{{ critere.nom }}</td>
	<td>{{ critere.description }}</td>
	<td>
	  <input type="checkbox" name="piece_presente" disabled="disabled" {% if critere.valide_par_default %} checked="checked" {% endif %} />
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  <div class="tab" id="tabs-2">
    <h2>Journal des &eacute;v&eacute;vements</h2>
    {% if infos %}
    <div class="logs">
      <h3>Informations</h3>
      <ul class="general events">
	{% for event in infos %}
	<li>
	  <h4>{{ event.timestamp }}</h4>
	  <p>
	    {{ event.description }} ({{ event.from_state }} -> {{ event.to_state }})
	  </p>
	  {% if event.commentaires %}
	  <p>{{ event.commentaires }}</p>
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if erreurs %}
    <div class="logs">
      <h3>Erreurs</h3>
      <ul class="general events">
	{% for event in erreurs %}
	<li>
	  <h4>{{ event.timestamp }}</h4>
	  <p>
	    {{ event.description }} ({{ event.from_state }} -> {{ event.to_state }})
	  </p>
	  {% if event.commentaires %}
	  <p>{{ event.commentaires }}</p>
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
</div>
{% include 'sigma.www/candidature_frame.html' %}
{% endblock %}

{% block navigation %}
<a class="button" href="{% url sigma.www.views.appel.liste %}">
  <span>{% trans "Retour" %}</span>
</a>
{% if user|can_add_candidature:appel %}
<a class="button" href="{% url sigma.www.views.candidature.add appel_id=appel.id %}">
  <span>{% trans "Ajouter une candidature" %}</span>
</a>
{% endif %}
{% if user|can_edit_appel:appel %}
<a class="button" href="{% url sigma.www.views.appel.edit object_id=appel.id %}">
  <span>{% trans "Modifier" %}</span>
</a>
{% endif %}
{% if user|can_supprime:appel %}
<a class="button" href="{% url sigma.www.views.appel.delete object_id=appel.id %}">
  <span>{% trans "Supprimer l'appel d'offre" %}</span>
</a>
{% endif %}
{% if user|can_ouvre:appel %}
<form name="ouvrir" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Ouvrir" />
    <a class="button" href="javascript:ouvrir_appel();">
      <span>{% trans "Ouvrir" %}</span>
    </a>
</form>
{% endif %}
{% if user|can_analyse:appel %}
<form name="analyser" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Analyser" />
    <a class="button" href="javascript:analyser_appel();">
      <span>{% trans "Debuter l'analyse" %}</span>
    </a>
</form>
{% endif %}
{% if user|can_evalue:appel %}
<form name="evaluer" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Evaluer" />
    <a class="button" href="javascript:evaluer_appel();">
      <span>{% trans "Debuter l'evaluation" %}</span>
    </a>
</form>
{% endif %}
{% if user|can_selectionne:appel %}
<form name="selectionner" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Selectionner" />
    <a class="button" href="javascript:selectionner_appel();">
      <span>{% trans "Debuter la selection" %}</span>
    </a>
</form>
{% endif %}
{% if user|can_notifie:appel %}
<form name="notifier" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Notifier" />
    <a class="button" href="javascript:notifier_appel();">
      <span>{% trans "Debuter la notification" %}</span>
    </a>
</form>
{% endif %}
{% if user|can_suit:appel %}
<form name="suivre" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Suivre" />
    <a class="button" href="javascript:suivre_appel();">
      <span>{% trans "Debuter le suivie" %}</span>
    </a>
</form>
{% endif %}
{% if user|can_ferme:appel %}
<form name="fermer" action="{% url sigma.www.views.appel.edit_statut object_id=appel.id %}" method="POST">
    {{ form.as_p }}
    <input type="hidden" name="appel_id" value="{{ appel.id }}" />
    <input type="hidden" name="commentaires" value="" />	
    <input type="hidden" name="action" value="Fermer" />
    <a class="button" href="javascript:fermer_appel();">
      <span>{% trans "Fermer" %}</span>
    </a>
</form>
{% endif %}
{% endblock %}
