{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block include_media %}
<script type="text/javascript" src="/media/js/candidature_edit.js"></script>
{% endblock %}

{% block js_main %}
   candidature_main();
{% endblock %}

{% block window_title %}{% trans "Candidature - " %}{{ form.get_title }}{% endblock %}
{% block page_title %}{% trans "CANDIDATURE - " %}{{ form.get_title }}{% endblock %}

{% block content %}
<script type="text/javascript">
  $(function() {
    $(window).bind('load', function(event) {
      $("#tabs").tabs();
    });
  });
</script>

<form name="candidature_mod" action="" method="POST">
  
  <div id="tabs">
    <ul>
      {% for link, subject, other_classes in form.links %}
      <li>
	<a href="#tabs-{{ link }}" class="{{ other_classes }}">{% trans subject %}</a>
      </li>
      {% endfor %}
      {% if bloc_list.items %}
      <li>
	<a href="#tabs-blocschamps">{% trans "Informations suppl&eacute;mentaires" %}</a>
      </li>
      {% endif %}
      {% if piece_list %}
      <li>
	<a href="#tabs-piecesjointes">{% trans "Pieces jointes" %}</a>
      </li>
      {% endif %}
    </ul>

    {{ form.as_p }}

    {% if bloc_list.items %}
    <div class="tab" id="tabs-blocschamps">
      {% for bloc, champs_list in bloc_list.items %}
        <h2>{{ bloc.libelle }}</h2>
      {{champs_list.as_p}}
      {% endfor %}
    </div>
    {% endif %}

    {% if piece_list %}
    <div class="tab" id="tabs-piecesjointes">
      <h2>{% trans "Pieces jointes" %}</h2>
      <table>
	{{ piece_list }}
      </table>
    </div>
    {% endif %}

  </div>

   <input type="hidden" name="appel" value="{{ appel_id }}" />
</form>

{% endblock %}

{% block navigation %}
{% if form.instance.id %}
<a class="button" href="{% url sigma.www.views.candidature.detail object_id=form.instance.id %}">
    <span>{% trans "Retour" %}</span>
</a>
{% else %}
<a class="button" href="{% url sigma.www.views.appel.detail object_id=appel_id %}">
    <span>{% trans "Retour" %}</span>
</a>
{% endif %}
<a class="button" href="javascript:candidature_save('{{ appel_id }}', '{{ form.instance.id}}');">
  <span>{% trans "Sauvegarder" %}</span>
</a>
<a class="button" href="javascript:candidature_validate('{{ appel_id }}', '{{ form.instance.id}}');">
  <span>{% trans "Valider" %}</span>
</a>
{% endblock %}
