{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Candidatures" %}{% endblock %}
{% block page_title %}{% trans "CANDIDATURES" %}{% endblock %}

{% block content %}
<p>
  <h2>Liste des candidatures du syst&egrave;me par appel d'offre</h2>
</p>
{% for appel, statut_list_can in list_candidatures.items %}
    <h2>
      <a href="/appels/detail/{{ appel.id }}">{{ appel }}</a>
    </h2>
    {% include 'sigma.www/candidature_frame.html' %}
{% endfor %}
{% endblock %}

{% block navigation %}
    <a class="button" href="{% url sigma.www.views.general.index %}">
    <span>{% trans "Retour" %}</span>
</a>
{% endblock %}
