{% extends "sigma.www/general.html" %}

{% block include_media %}
<script type="text/javascript" src="/media/js/candidature_expert.js"></script>
<style type="text/css">
  body {
  background-color: #ffffff;
  }
</style>
{% endblock %}

{% block body %}
<script type="text/javascript">
  $(function() {
    $(window).bind('load', candidature_expert_init);
  });
</script>
<div id="contenu" class="expert">
  <form id="candidature_expert" name="note_mod" action="{{ form.get_action_url }}" method="POST">
    <div id="tabs">
      <ul>
	<li>
	  <a href="#tabs-note">Note</a>
	</li>
      </ul>

      <div class="tab" id="tabs-note">
	<h2>Veuillez noter cette candidature</h2>
	<table valign="top">
	  <tr valign="top">
	    <td>
	      <label>Nom de l'expert:</label>
	    </td>
	    <td>
	      {{ candidature_expert.expert.nom }}
	    </td>
	  </tr>
	  <tr valign="top">
	    <td>
	      <label>Discipline:</label>
	    </td>
	    <td>{{ candidature_expert.candidature.discipline.nom_court }}</td>
	  </tr>
	  <tr>
	    <td colspan="2">
	      {{ form.note.errors }}
	    </td>
	  <tr>
	    <td><label><b>* Note:</b></label></td>
	    <td>{{ form.note }}</td>
	  </tr>
	</table>
	<input type="hidden" id="candidature_expert_id" name="candidature_expert_id" value="{{ candidature_expert.id }}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
