{% extends "sigma.www/general.html" %}

{% load i18n %}

{% block window_title %}{% trans "Candidature / " %}Gestion des experts{% endblock %}
{% block page_title %}{% trans "CANDIDATURE - " %}GESTION DES EXPERTS{% endblock %}

{% block content %}
<script type="text/javascript">
  $(function() {
    $(window).bind('load', function(event) {
      $("#tabs").tabs();
    });
  });
  function criteres_save() {
    document.forms.candidature_mod.submit();
  }
</script>
<form name="candidature_mod" action="/candidatures/experts/{{ candidature_id }}/" method="POST">
  <div id="tabs">
    <ul>
      <li>
	<a href="#tabs-criteres">Gestion des notes</a>
      </li>
    </ul>

    <div class="tab" id="tabs-criteres">
      <h2>Gestion des experts</h2>
      <table width="100%" class="details">
	{{ form }}
      </table>
    </div>
  </div>
  <input type="hidden" name="candidature_id" value="{{ candidature_id }}" />
</form>
{% endblock %}

{% block navigation %}
<a class="button" href="/candidatures/detail/{{ candidature_id }}/">
    <span>{% trans "Retour" %}</span>
</a>
<a class="button" href="javascript:criteres_save()">
  <span>{% trans "Sauvegarder" %}</span>
</a>
{% endblock %}
