{% load i18n %}

{% block categorie_list %}
<script type="text/javascript">
  $(function() {
     $(".categorie_table").tablesorter({widgets:['zebra'], sortList: [[0,0]], headers: {5 : {sorter: false}}});
  });
</script>
{% if categorie_list.items %}
<div>
  <h3 class="list_title {{ categorie }}">
    <a class="label" href="#">
      <b></b>
      <span></span>
    </a>
  </h3>
  <div style="clear: both;">
    <table class="categorie_table" width="100%">
      <thead>
	<th>
	  <span>id</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>Nom</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>Poste</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th>
	  <span>Nombre d'appel</span>
	  <span class="icone">&nbsp;</span>
	</th>
	<th class="categorie_action">Actions</th>
      </thead>
      <tbody>
      {% for categorie, appel_list_length in categorie_list.items %}
      <tr class="categorie_instance">
	<td>{{ categorie.id }}</td>
	<td>{{ categorie.nom }}</td>
	<td>{{ categorie.poste }} </td>
	<td>{{ appel_list_length }}</td>
	<td class="categorie_action" >
	  <a href="{% url sigma.www.views.categorie.detail object_id=categorie.id %}" 
	     title="Consulter la catégorie">
	    <img alt="Consulter la catégorie"
		 src="/media/images/pict_info.gif" />
	  </a>	
	</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}
