{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Cat&eacute;gorie - " %}{{ categorie.nom }}{% endblock %}
{% block page_title %}{% trans "CATEGORIE - " %}{{ categorie.nom }}{% endblock %}

{% block content %}
<ul>
    <li>{% trans "poste" %} : {{categorie.poste}}</li>
    <li>{% trans "nom_categorie" %} : {{categorie.nom}}</li>
    <li>{% trans "exception_possible" %} : <input type="checkbox" disabled="disabled" {% if categorie.exception_possible %} checked="checked" {% endif %} ></li>
    <li>{% trans "renouvellement_possible" %} : <input type="checkbox" disabled="disabled" {% if categorie.renouvellement_possible %} checked="checked" {% endif %} /></li>
    <li>{% trans "Renouvellement_nb_max" %} : <input type="checkbox" disabled="disabled" {% if categorie.renouvellement_nb_max %} checked="checked" {% endif %} /></li>
    <li>{% trans "age_max" %} : {{categorie.age_max}}</li>
    <li>{% trans "statut_etudiant_obligatoire" %} : <input type="checkbox" disabled="disabled" {% if categorie.statut_etudiant_obligatoire %} checked="checked" {% endif %} /></li>
    <li>{% trans "mobilite_duree_mois_min" %} : {{categorie.mobilite_duree_mois_min }}</li>
    <li>{% trans "mobilite_duree_mois_max" %} : {{categorie.mobilite_duree_mois_max }}</li>
    <li>{% trans "origine_etabl_membre_obligatoire" %} : <input type="checkbox" disabled="disabled" {% if categorie.origine_etabl_membre_obligatoire %} checked="checked" {% endif %} /></li>
    <li>{% trans "accueil_etabl_membre_obligatoire" %} : <input type="checkbox" disabled="disabled" {% if categorie.accueil_etabl_membre_obligatoire %} checked="checked" {% endif %} /></li>
    <li>{% trans "diplome_duree_validite_obligatoire" %} : <input type="checkbox" disabled="disabled" {% if categorie.diplome_duree_validite_obligatoire %} checked="checked" {% endif %} /></li>
    <li>{% trans "alternance_obligatoire" %} : <input type="checkbox" disabled="disabled" {% if categorie.alternance_obligatoire %} checked="checked" {% endif %} /></li>
    <li>{% trans "alternance_duree_min_mois" %} : {{categorie.alternance_duree_min_mois }}</li>
</ul>
    {% for bloc, champs_list in blocs_list.items %}
    <br/>
    <h2>{{ bloc }}</h2>
    <ul>
        {% for champs in champs_list %}
            <li>{{ champs.libelle }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}

{% block navigation %}
<a class="button" href="{% url sigma.www.views.categorie.liste %}">
    <span>{% trans "Retour" %}</span>
</a>
{% endblock %}
