{% extends "sigma.www/general.html" %}

{% load i18n %}
{% load general_extra %}

{% block window_title %}{% trans "Expert - " %}{{ expert.prenom }} {{ expert.nom }}{% endblock %}
{% block page_title %}{% trans "Expert - " %}{{ expert.prenom }} {{ expert.nom }}{% endblock %}

{% block content %}
<script type="text/javascript">
  $(window).bind('load', function(event) {
    $("#tabs").tabs();
  });
</script>
<div id="tabs">
  <ul>
    {% for subject_id, subject_label, field_list, is_data in subject_list.values %}
    <li><a href="#tabs-{{ subject_id }}">{{ subject_label }}</a></li>
    {% endfor %}
    <li><a href="#tabs-discipline">{% trans "Disciplines" %}</a></li>
    <li><a href="#tabs-candidature">{% trans "Candidatures" %}</a></li>
  </ul>

  {% for subject_id, subject_label, field_list, is_data in subject_list.values %}
  <div class="tab" id="tabs-{{ subject_id }}">
    <h2>{{ subject_label }}</h2>
    {% if is_data %}
       <table class="details">
       {% for field in field_list %}
          <tr>
	    <td>
	      <label>{% trans field.verbose_name %} :</label>
	    </td>
	    <td>
	      {% if expert|getattr:field %}
	      <span>{{ expert|getattr:field }}</span>
	      {% else %}
	      <span>--</span>
	      {% endif %}
	    </td>
	  </tr>
       {% endfor %}
       </table>
    {% else %}
       {% trans "Aucune données" %}
    {% endif %}
  </div>
  {% endfor %}

  <div class="tab" id="tabs-discipline">
    <h2>Disciplines</h2>
    <ul class="details disciplines">
      {% for discipline in expert.discipline.iterator %}
      <li>{{ discipline }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="tab" id="tabs-candidature">
    <h2>Candidatures</h2>
    {% if statut_list_can.items %}
       {% include "sigma.www/candidature_frame.html" %}
    {% else %}
       {% trans "Aucune candidature associée" %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block navigation %}
<a class="button" href="{% url sigma.www.views.expert.liste %}">
  <span>{% trans "Retour" %}</span>
</a>
<a class="button" href="{% url sigma.www.views.expert.edit object_id=expert.id %}">
    <span>{% trans "Modifier" %}</span>
</a>
{% endblock %}
