{% extends "sigma.www/general.html" %}

{% load i18n %}

{% block js_main %}
$('#password').keypress(function (e) {
  if(e.which == 13) {
    document.forms.login_form.submit();
    return false;
  }
  else {
    return true;
  }
});
{% endblock %}

{% block window_title %}{% trans "Connexion" %}{% endblock %}
{% block page_title %}{% trans "CONNEXION" %}{% endblock %}

{% block content %}
{% if form.errors %}
<p class="error">{% trans "Desole, le nom d'usager ou le mot de passe est incorrect" %}</p> 
{% endif %}
<form action='.' id="login_form" name="login_form" method='post'>
  <table>
    <tr>
      <td>
	<label for="username">
	  <h2>{% trans "Nom d'usager: " %}</h2>
	</label>
      </td>
      <td>
	<input type="text" name="username" value="" id="username" />
      </td>
    </tr>
    <tr>
      <td>
	<label for="password">
	  <h2>
	    {% trans "Mot de passe: " %}
	  </h2>
	</label>
      </td>
      <td>
	<input type="password" name="password" value="" id="password" />
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
	<a style="float:right;" class="button" href="javascript:document.forms.login_form.submit();">
	  <span>{% trans "Connecter" %}</span>
	</a>
      </td>
    </tr>
  </table>
  <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
{% endblock %}

{% block navigation %}
<a class="button" href="javascript:history.back();">
  <span>{% trans "Retour" %}</span>
</a>

<a class="button" href="/accounts/password">
  <span>{% trans "Mot de passe oublié" %}</span>
</a>
{% endblock %}
