{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Note - " %}{{ note }}{% endblock %}
{% block page_title %}{% trans "NOTE - " %}{{ note }}{% endblock %}

{% block content %}
<ul>
  <li>{% trans "Description" %} : {{ note.description }}</li>
  <li>{% trans "Resultat" %} : {{ note.note }}</li>
  <li>{% trans "Expert" %} : {{ note.expert }}</li>
</ul>
{% endblock %}

{% block navigation %}
<a class="button" href="/candidatures/detail/{{ note.candidature.id }}">
    <span>{% trans "Retour" %}</span>
</a>
<a class="button" href="/notes/edit/{{note.id}}/">
  <span>{% trans "Modifier" %}</span>
</a>
{% endblock %}
