{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Reinitialiser du mot de passe" %}{% endblock %}
{% block page_title %}{% trans "Reinitialiser du mot de passe" %}{% endblock %}


{% block content %}

<p>{% trans "Un courriel vous a ete envoye avec les instructions pour changer votre mot de passe. Vous devriez le recevoir bientot." %}</p>

{% endblock %}

{% block navigation %}
    <a class="button" href="javascript:history.back();">
      <span>{% trans "Retour" %}</span>
    </a>
{% endblock %}

