{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Reinitialisation du mot de passe terminee" %}{% endblock %}

{% block page_title %}{% trans "Reinitialisation du mot de passe terminee" %}{% endblock %}

{% block content %}

<p>{% trans "Votre mot de passe a ete enregistre. Vous pouvez vous connecter des maintenant." %}</p>

{% endblock %}

{% block navigation %}
    <a class="button" href="{{ login_url }}">
      <span>{% trans "Connexion" %}</span>
    </a>
{% endblock %}

