{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Reinitialiser le mot de passe" %}{% endblock %}
{% block page_title %}{% trans "Reinitialiser le mot de passe" %}{% endblock %}

{% block content %}

<p>{% trans "Vous avez oubli&eacute; votre mot de passe ? Taper votre courriel ci-dessous, et vous recevrez les instructions pour changer votre mot de passe." %}</p>

<form name="password_reset_form" id="password_reset_form" action="." method="post">
{{ form.email.errors }}
<p><label for="id_email">{% trans "Courriel : " %}</label> {{ form.email }} </p>
</form>

{% endblock %}

{% block navigation %}
    <a class="button" href="javascript:history.back();">
      <span>{% trans "Retour" %}</span>
    </a>
    <a class="button" href="javascript:document.forms.password_reset_form.submit();">
      <span>{% trans "Reinitialiser le mot de passe" %}</span>
    </a>
{% endblock %}

