{% extends "sigma.www/general.html" %}

{% block window_title %}Connexion{% endblock %}
{% block page_title %}CONNEXION{% endblock %}

{% block content %}
  {% if form.errors %}
    <p class="error">D&eacute;sol&eacute;, le nom d'usager ou le mot de passe est incorrecte</p>
  {% endif %}

    <form action='.' id="reset_password" name="reset_password" method='post'>
      <p>
	<label for="username">Nom d'usager : </label>
	<input type="text" name="username" value="" id="username" />
      </p>
      <p>
	<label for="email">Courriel : </label>
	<input type="text" name="email" value="" id="email" />
      </p>
      <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
{% endblock %}

{% block navigation %}
    <a class="button" href="javascript:history.back();">
      <span>Retour</span>
    </a>
    <a class="button" href="javascript:document.forms.reset_pasword.submit();">
      <span>R&eacute;initialiser le mot de passe</span>
    </a>
{% endblock %}
