{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Mon Sigma" %}{% endblock %}
{% block page_title %}{% trans "MON SIGMA" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div style="margin-left: 40px; margin-bottom: 40px;">
  <p>
    <h3>Voici les appels d'offres du syst&egrave;me qui demandent votre attention:</h3>
  </p>

  {% if statut_list_app %}
  <p>
    {% include 'sigma.www/appel_frame.html' %}
  </p>
  {% else %}
  <p>
    <ul>
      <li>Aucun appel d'offre  à traiter</li>
    </ul>
  </p>
  {% endif %}
</div>

<div style="margin-left: 40px; margin-bottom: 40px;">
<p>
  <h3>Voici les candidatures du syst&egrave;me qui demandent votre attention:</h3>
</p>
{% if candidature_par_appel.items %}
   {% for appel, statut_list_can in candidature_par_appel.items %}
   <h2>
     <a href="/appels/detail/{{ appel.id }}">{{ appel }}</a>
   </h2>
   {% include 'sigma.www/candidature_frame.html' %}
   {% endfor %}
{% else %}
<p>
  <ul>
    <li>Aucune candidature à traiter</li>
  </ul>
</p>
{% endif %}
</div>

<div style="margin-left: 40px; float: left;">
  <h3>{% trans "Vous avez les droits necessaires afin de" %}:</h3>
  <ul>
    {% for permission in permissions %}
    <li>{{ permission }}</li>
    {% endfor %}
  </ul>
</div>

<div style="margin-left: 40px; float: left;">
  <h3>{% trans "Dans les bureaux suivants" %}:</h3>
  <ul>
    {% for bureau in bureaux %}
    <li>{{ bureau.nom }}</li>
    {% endfor %}
  </ul>
</div>

{% else %}
<p>
  {% trans "Bonjour, le menu est à gauche!" %}
</p>
{% endif %}

{% endblock %}

{% block navigation %}
<a class="button" href="/">
    <span>{% trans "Retour" %}</span>
</a>
{% endblock %}
