{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Mon Sigma" %}{% endblock %}
{% block page_title %}{% trans "MON SIGMA" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div style="margin-left: 40px; margin-bottom: 40px;">
<p>
  <h3>Voici les candidatures du syst&egrave;me qui demandent votre attention:</h3>
</p>
{% if candidature_par_appel.items %}
   {% for appel, statut_list_can in candidature_par_appel.items %}
   <h2>
     <a href="/appels/detail/{{ appel.id }}">{{ appel }}</a>
   </h2>
   {% include 'sigma.www/candidature_frame.html' %}
   {% endfor %}
{% else %}
<p>
  <ul>
    <li>Aucune candidature à traiter</li>
  </ul>
</p>
{% endif %}
</div>
{% endif %}
{% endblock %}

{% block navigation %}
<a class="button" href="/">
    <span>{% trans "Retour" %}</span>
</a>
{% endblock %}
