{% extends "sigma.www/general.html" %}
{% load i18n %}

{% block window_title %}{% trans "Projet - " %}{{ projet.code }}{% endblock %}
{% block page_title %}{% trans "PROJET - " %}{{ projet.code }}{% endblock %}

{% block content %}
<div>
  <ul>
    <li>{% trans "Code" %} : {{ projet.code }}</li>
    {% if projet.code_bureau %}
    <li>{% trans "Bureau" %} : {{ projet.code_bureau }}</li>
    {% else %}
    <li>{% trans "Bureau" %} : aucun</li>
    {% endif %}
    <li>{% trans "Programme" %} : {{ projet.code_programme }}</li>
    <li>{% trans "Categorie" %} : {{ projet.getCategorie }}</li>
 </ul>
</div>
{% endblock %}

{% block navigation %}
<a class="button" href="/projets">
  <span>{% trans "Retour" %}</span>
</a>
{% endblock %}

