{% load i18n %}
{% if search_form %}
<form id="search_form" name="search" action="/search" 
      style="position: text-align: right; float: right; absolute; top: 20px; left: 55px;">
  <p>
    <input id="id_value" type="text" maxlength="20" name="value" style="margin-top: 10px;"/>
    <a class="button" href="javascript:document.forms.search.submit();">
      <span>{% trans "Rechercher" %}</span>
    </a>
  </p>
</form>
<input type="hidden" name="value" id="value" value="{{ value }}" />
{% endif %}



