{% extends "admin_tools/dashboard/simple_module.html" %}
{% load i18n %}

{% block module_content %}
<ul>
    {% for action in module.children %}
    <li>
        <p class="date">{{ action.action_time|date }}</p>
        <p class="name">
            <a href="{{ admin_url }}{{ action.get_admin_url }}"
                class="{% if action.is_addition %} addlink{% endif %}{% if action.is_change %} changelink{% endif %}">
              {% if action.content_type %}
                  {% filter capfirst %}{% trans action.content_type.name %}{% endfilter %} <em>{{ action.object_repr }}</em>
              {% else %}
                  {{ action.object_repr }}
              {% endif %}
            </a>
        </p>
        <p class="details">
            {% if user.is_superuser %}
                <a href="{% url admin:auth_user_change action.user.id %}">{{ action.user.username }}</a>
            {% else %}
                <strong>{{ action.user.username }}</strong>
            {% endif %}
            a 
            {% if action.change_message %}
                {{ action.change_message|lower }}
            {% else %}
                cr&eacute;e le {% trans action.content_type.name %}
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}

