{% extends "admin/base_site.html" %}
{% load i18n adminmedia form_utils_tags %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     Importation de dossiers
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}{% endblock %}

    <h1>Importer les dossiers du formulaire : {{ appel }}</h1>

    {% if derniere_preparation %}
        <h2>Rapport</h2>
        {{ derniere_preparation.log|linebreaks }}
    {% endif %}

    {% if diff_champs %}
        <h2>Les champs suivants de cet appel seront copiés dans SIGMA<h2>
        <ul>{% for c in diff_champs.champs_traites %}<li>{{ c }}</li>{% endfor %}</ul>
        <h2>Les champs suivants de cet appel seront ignorés dans SIGMA (Ils seront toutefois copiés)<h2>
        <ul>{% for c in diff_champs.champs_non_traites %}<li>{{ c }}</li>{% endfor %}</ul>
    {% endif %}

    <div class="submit-row">
        <a href="?action=preparer">Préparer</a>
        <a href="?action=importer">Importer</a>
    </div>

    </form>

</div>
{% endblock %}
