{% extends "admin/base_site.html" %}
{% load i18n adminmedia form_utils_tags %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url admin:sigma_dossier_changelist %}">Dossiers</a> &rsaquo;
     <a href="{% url admin:sigma_dossier_change dossier.id %}">{{ dossier }}</a> &rsaquo;
     Évaluation
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}{% endblock %}

    <h1>Évaluation du {{ dossier }}</h1>

    <form action="" method="post">
    <div class="module">
    <h2>Évaluations</h2>
    </div>
        {{ evaluationForm|render:"admin/form_utils/better_form.html" }}
    <div class="module">
    <h2>Notations (moyenne = {{ dossier.moyenne_votes|floatformat }})</h2>
    </div>

        {% for f in noteForm.management_form %}
            {{ f }}
        {% endfor %}
    
        {% for f in noteForm.forms %}
            <table>
            {% for field in f %}
                {% if field.is_hidden %}{{ field }}{% endif %}
            {% endfor %}
            <tr><td>{{ f.instance.expert }}</td><td>{{ f.note}}</td></tr>
            </table>
        {% endfor %}

    <div class="module">
    <h2>Commentaires</h2>
    <table>
        <thead>
        <tr>
            <th>Commentaire</th>
            <th>Auteur</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        {% for commentaire in dossier.annotations.all %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ commentaire.texte|linebreaks }}</td>
            <td>{{ commentaire.user }}</td>
            <td>{{ commentaire.date }}</td>
            <td>{% if commentaire.user == commentaire.user %}<a href="{% url supprimer_mon_commentaire commentaire.id %}">supprimer</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    </div>
        {{ commentaireForm|render:"admin/form_utils/better_form.html" }}
        <div class="submit-row">
            <input type="submit" name="_save" class="default" value="Enregistrer">
        </div>
    </form>
</div>
{% endblock %}
