/* *****************************************************************************
Styles propres à cette application
***************************************************************************** */

/* ------------------------------- COULEURS --------------------------------- */

.bouton_inactif, .readonly       /* 15% blanc */   { background-color: #F0E8E8 }
#auth #contenu, .bouton_inactif  /* 50% blanc */   { border-color: #CCB2B2 }
.bouton_inactif                  /* 50% blanc */   { color: #CCB2B2 }
.h3                               /* 85% blanc */   { color: #A87D7D }
fieldset, .fieldset, .msg_user   /* 100% */        { border-color: #996666 }
#auth                                              { background-color: #996666 }
#auth #copyright, .h2                              { color: #996666 }
.readonly                        /* 50% noir */    { color: #4D3333 }

/* ------------------------------- ELEMENTS --------------------------------- */

fieldset    { border-width: 1px; border-style: solid; padding: 5px }
h1          { font-size: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
h2          { font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
h3          { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }

/* ------------------------------- CLASSES ---------------------------------- */

.bold                { font-weight: bold }
.bouton_inactif      { font-size: 11px; font-family: Arial; border: solid 1px; font-weight: bold }
.fieldset, .msg_user { border-width: 1px; border-style: solid; padding: 5px }
.bloc                { margin:10px; padding:5px; border:2px solid #000 }
