div#menu li { 
    margin:0px 0px 10px -40px; 
    padding:0px; 
    list-style: none; 
}

div#menu li a,
div#outils a,
div#titre a { 
    text-decoration: none; 
    font-weight:bold 
}

#outils h3 {
    color: #ffffff;
    float: right;
    padding: 0;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#outils > a:first-child h3 {
    padding-right: 20px !important;
}

#outils a:hover {
    text-decoration: none;
}

#outils h3:hover,
#titre a:hover {
    color: #CCB2B2;
}

div#navigation a {
    text-decoration: none;
}

div#navigation a:first-child {
    margin-left: 30px;
}

div#navigation input {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

div#navigation form {
    float: left;
}
