iframe {
    border: 0px;
    width: 100%;
}

.error_message {
    color: red;
}

div.criteria {
    min-height: 200px !important;
}

iframe.criteria {
    height: 250px;
}

iframe.expert {
    height: 330px;
}

iframe.note {
    height: 290px;
}

div#errors {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:3%;
    margin-right:3%;
    text-align: center;
}

div#errors h2 {
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 0;
    color: red;
}

div#errors ul {
    list-style-type: none;
    margin-bottom: 0px;
}

div#errors ul li {
    color: red;
}

.ui-tabs {
    margin-left:2%;
    margin-right:2%;
}

div#tabs .ui-widget-header {
    background: transparent;
    border: none;
}

div#tabs { 
    border: none;
    height: 100%;
}

div#tabs table.details tr,
div#tabs table.details td {
    height: 15px;
    padding: 2px;
}

div#tabs table.details label {
    color: #A87D7D;
    font-weight: normal;
 }

div#tabs table.details label:first-letter {
    text-transform: uppercase;
}

div#tabs table.details span {
    font-style: italic;
}

div#tabs td {
    padding-top: 10px;
}

div#tabs td label {
    color: #A87D7D;
    font-weight: normal;
    font-style: normal;
    display: block;
    text-align: right;
    float: right;
    width: 100%;
    padding-bottom: 4px;
}

div#tabs td label.mandatory {
    font-weight: bold;
}

div#tabs td select {
    width: 300px;
}

div#tabs td select[multiple=multiple] {
    width: 450px;
    padding-bottom: 40px;
}

div#tabs td ul {
    list-style-type: none;
    padding-left: 10px;
}

div#tabs td ul label {
    float: left;
    text-align:left;
}

div.search_result table {
    padding-left: 20px;
}

.ui-dialog {
    border: 1px solid #996666;
}

#errors a {
    color: red;
    padding-top: 12px;
}

.errorlist {
    list-style-type: none;
    color: red;
    padding-left: 0px;
}

a.errortab { 
    color: red !important;
}

#date {
    float:right;
    font-size:9px;
    padding:4px 15px 4px 5px;
    height: 42px;
    margin-right: 20px;
}

#arianne {
    height: 42px;
}

#ariane h1 {
    padding-left: 40px;
}

#header {
    width: 90%;
}

#main {
    width: 80%;
}

#main hr {
    clear: both;
}

#contenu h2.subtitle {
    background-color:#E5D9D9;
    border-bottom: 1px solid #996666;
    width: 95%;
    margin-left: 2%;
    padding-top: 10px;
    height: 25px;
    margin-bottom: 0px;
}

#contenu h2.subtitle img {
    padding-left: 20px;
}

#contenu select {
    width: 155px;
}

#contenu ul {
    margin-top: 0px;
    width: 92%;
    margin-left: 2%;
    padding-top: 5px;
}

#contenu .ui-tabs .ui-tabs-nav {
    width: 99%;
    margin: 0px;
}

#contenu div.tab {
    border:1px solid #AAAAAA;
}

#contenu div.tab ul {
    background-color: #ffffff;
    margin: 0px;
    width: 97%;
    margin-right:1%;
}

#contenu li {
    line-height: 20px;
}

#contenu li input{
    margin: 0px;
}

#expert_list ul {
    margin: 0; 
    padding-top: 0px;
    padding-left: 20px;
    list-style-type: circle;
}

#navigation {
    display: block;
    float: left;
    width: 100%;
    padding-top: 5px;
}

.candidature_list h3.incomplet a,
.candidature_list h3.nontraite a,
.appel_list h3.nontraite a {
    color: red;
}


.candidature_list h3,
.appel_list h3 {
    background: #E5D9D9 right bottom no-repeat;
    clear: both; 
    height: 40px;
}

.candidature_list, 
.appel_list {
    border-collapse: collapse; 
    margin-left: 2%;
    margin-right: 2%;
}

.candidature_list img,
.appel_list img {
    color: transparent;
    cursor: pointer;
}

.candidature_list a.label,
.appel_list a.label {
    float: left;
}

.candidature_list a.download,
.appel_list a.download {
    float: right;
    padding-bottom: 0px;
    padding-left: 0px;
}

.candidature_list div.candidature_instance,
.appel_list div.appel_instance {
    background-color: #999999;
}

.candidature_list div.ui-accordion-content,
.appel_list div.ui-accordion-content {
    padding-right: 7px;
}

.candidature_list .candidature_description,
.appel_list .appel_description {
    float: left;
    width: 80%;
    height: 40px;
    background-color: transparent;
}

.candidature_list .candidature_action,
.appel_list  .appel_action {
    text-align: right;
    float: right;
}

#dialog textarea.commentaire {
    width: 100%;
}

div.logs h3 {
    margin-bottom: 0px;
    margin-top: 20px;
}

ul.events h4 {
    margin-bottom: 0px;
}
 
ul.events p {
    margin-top: 0px;
}

#login_form table {
    margin-top: 8%; 
    margin-left: 35%;
}


/* Gestion de la table de candidatures et des appels*/
.candidature_table th,
.appel_table th,
.categorie_table th {
    background-color: transparent;
    font-weight: bold;
    color: #996666;
}

.candidature_table .candidature_action,
.appel_table .appel_action,
.categorie_table .categorie_action {
    text-align: right;
}

.candidature_table .candidature_action a,
.appel_table .appel_action a,
.categorie_table .categorie_action a{
    float: right;
    margin: 5px;
}

.candidature_table .candidature_action img,
.appel_table .appel_action img,
.categorie_table .categorie_action img{
    border: 0;
}

.candidature_table .candidature_action div,
.appel_table .appel_action div,
.categorie_table .categorie_action div {
    float: right;
    margin: 5px;
}

.candidature_table .candidature_action p,
.appel_table .appel_action p,
.categorie_table .categorie_action p {
    background: rgba(255, 255, 255, 0.5); 
    width: 22px; 
    height: 24px; 
    margin:0;
}

table.candidature_table th span,
table.appel_table th span,
table.categorie_table th span {
    float: left;
    cursor: pointer;
}

table.candidature_table th span.icone,
table.appel_table th span.icone,
table.categorie_table th span.icone {
    width: 20px;
    height: 16px;
    display: block;
    background-image:url(images/ui-icons_454545_256x240.png);
    background-position:-128px -16px;
}

table.candidature_table th.headerSortDown span.icone,
table.appel_table th.headerSortDown span.icone,
table.categorie_table th.headerSortDown span.icone {
   background-position:-64px -16px; 
}

table.candidature_table th.headerSortUp span.icone,
table.appel_table th.headerSortUp span.icone,
table.categorie_table th.headerSortUp span.icone {
   background-position:1px -16px; 
}