table.detail {
    margin-left: 10px;
}

table.detail td {
    width: 50%;
    padding-right: 20px;
}

table.detail h3 {
    text-align: right;
    margin: 0px;
}

table.detail input {
    margin: 0px;
}


table.ariane {
    width: 98%;
    text-align:center;
}

table.ariane td {
    width: 100px;
}

table.ariane tr td img {
    vertical-align:middle;
}

table.ariane tr td.current_statut {
    color:#996666;
    font-weight:bold;
    font-size:16px;
}

table.ariane tr td.statut {
    color:#996666;
}
