#ui-datepicker-div {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
    display:none;
}

a.button {
    background: transparent url('/media/images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding-right: 17px; /* sliding doors padding */
    text-decoration: none;
}


a.button span {
    background: transparent url('/media/images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#search_form p {
    float: left;
}

#search_form select {
    float: left;
    width: 90px;
}

#search_form input {
    float: left;
}

#search_form a {
    float: left;
    margin-top: 10px;
    color: #000000 !important;
}

#search_form a.button {
    margin-left: 5px;
}

p.error {
    color: red;
    font-weight: bold;
}

div#contenu p label {
  width: 200px;
  float: left;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  color:#7A5252;
}

div#contenu input {
    border: 1px solid #7A5252;
}


#login_form label {
    text-weight: bold;
}

form#candidature_expert p label {
    width: 117px;
}

form#small_login input {
    width: 134px;
    color: #7A5252;
    font-size: 10px;
    font-style: italic;
    border: 1px solid #7A5252;
}