div#navigation a {
    text-decoration: none;
}

div#navigation input {
    margin-bottom: 5px;
}

div#navigation form {
    float: left;
}

div#navigation.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
} 